/* root */
:root {
    --main-color: #00D8DE;
  }

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* base */
body {
    background-color: #FEFEFE;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-color)
}

.flex { display: flex;}
.content-center {justify-content: center}
.content-between { justify-content: space-between; }
.content-end { justify-content:flex-end }

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* navigation */
.global-header .container .logo,
.global-header .container .account {
    width: 100%;
    max-width: 196px;
    background-color: red;
}
